.header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position:top left;
    background-size: auto, 700px auto;   
} 
.text-primary-color{
    color: rgba(37, 36, 50, 1);
}
.text-centre{
     text-align: center;
}
/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.Website-name{
    font-size:34px ;
    font-weight: bolder;
    color: rgba(78, 71, 255, 1);
}
.btn-primary{
    background-color: rgba(78, 71, 255, 1);
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}
/* banner style */
.banner {
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 40px 250px 180px;
  text-align: center;
}
.banner-Heading{
    font-size:65px ;
    font-weight:bold ;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 120px;
    margin-bottom: 140px;
}
/* Action-section style */
.Action{
    display: flex;
    justify-content: space-between;
}
.Action-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}
.Action-subtitle{
    font-size: 24px;
    font-weight:normal;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 0;
    margin-bottom: 20px;
}
.Action-leftside{
    margin-top: 0px;
    margin-right: 310px;
    margin-bottom: 62px;
    margin-left: 0;
    align-items: center

}
.Action-pic{
   border-radius: 48px;
   height: 330px;
}
/* Productive-section style */
.Productive{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding:80px 50px;
    max-width: 1140px;
}
.Productive-title{
    font-size: 38px;
    font-weight: bold;
}
.Productive-data{
    display: flex;
    justify-content: space-around;
}
.Productive-data p {
    color: rgba(78, 71, 255, 1);
    font-size:80px ;
    font-weight:bold ;
    margin: 0;
}
.Productive-data h5{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}
/* GetIn-Touch Style */
.GetIn-Touch{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
}
.GetIn-Touch-title{
    color: rgba(0, 0, 0, 1);
    font-size: 97px;
    font-weight: bold;
    align-items: center

}
form input[type="text"],form input[type="email"]{
    height: 60px;
    width:450px ;
    border-radius: 10px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
}
form textarea{
    height: 120px;
    width:450px ;
    border-radius: 10px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
}
form label{
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.Get-in-btn{
     width:495px ;
     height:60px;
}
.GetIn-Touch-RightSide input::placeholder,
.GetIn-Touch-RightSide textarea::placeholder {
  font-size: 20px;
}