.header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position:top left;
    background-size: auto, 700px auto;   
} 
.text-primary-color{
    color: rgba(37, 36, 50, 1);
}
/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.Website-name{
    font-size:34px ;
    font-weight: bolder;
    color: rgba(78, 71, 255, 1);
}
.btn-primary{
    background-color: rgba(78, 71, 255, 1);
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}
/* banner style */
.banner {
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 40px 250px 180px;
  text-align: center;
}
.banner-Heading{
    font-size:65px ;
    font-weight:bold ;
}